.card{
    height: 100%;
    align-items: stretch;
    padding: var(--elements-left-right-padding);
    gap: 4rem;
    width: 100%;
    flex: 1;
}

.card__image-wrapper{
    width: 100%;
}

.card__top{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.625rem;
}

.card__image{
    aspect-ratio: 1.36/1;
    object-fit: cover;
    height: 100%;
}

.card__date{
    display: block;
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--not-main-text);
    margin-top: .5rem;
}

.card__heading{
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 500;
    transition: color ease 400ms;
    color: var(--main-text);
}
.card__heading:hover{
    color: var(--accent-hover);
}

.card__additional{
    font-weight: 400;
    color: var(--not-main-text);
    word-break: break-all;
    word-wrap: break-word;
}

.card__link{
    text-decoration: underline;
    color: var(--not-main-text);
    transition: color ease 400ms;
}

.card__link:hover{
    color: var(--accent);
}

@media screen and (max-width: 500px) {
    .card{
        gap: 1.5rem;
        width: 100%;
    }
    .card__image{
        width: 100%;
    }

    .card__link{
        display: inline-block;
        padding: var(--big-mobile-button);
        border: 2px solid var(--accent);
        text-decoration: none;
        color: var(--accent);
        font-weight: 500;
    }
}