.header{
    
}
.header__top-row{
    background-color: var(--header-row-bg);
    padding: .3rem 0;
}

.hover_underline:hover{
    text-decoration: underline;
}

.header__main-row{
    padding: 1.5rem 0;
}


.header__logo-img{
    width: 2.75rem;
    height: 2.75rem;
}
.header__logo-img>img{
    width: 100%;
}

.header__logo-title{
    max-width: 350px;
    font-size: var(--text-small);
    font-weight: bold;
}

.header__logo-slogan{
    color: var(--not-main-text);
    font-size: var(--text-small);;
}


/*search*/
.header__search{
    position: relative;
    color: var(--not-main-text);
    padding: 0 var(--elements-left-right-padding);
    flex: 1 0 auto;
}
.header__search>form{
    position: relative;
    width: 100%;
}
.header__search button{
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.header__search-input{  
    padding: .5rem 2.5rem .5rem 1.25rem;
    border: none;
    border-radius: var(--border-radius);
    border: solid 2px var(--top-border-color);
    width: 100%;
}

.header__search-input::placeholder{
    color: var(--not-main-text);
}

@media screen and (max-width: 800px) {
    .header__search{
        display: none
    }
}
/* --- header_search --- */


.header__contacts{
    display: flex;
    flex: 0 0 auto;
    padding: 0 var(--elements-left-right-padding);
    gap: calc(var(--elements-left-right-padding));
}

.header__phone{
    color: var(--black);
    font-weight: 500;
    font-size: clamp(.98rem, 1.8vw, 1.375rem);
    line-height: clamp(1.078rem, 1.97vw, 1.5rem);
}

.header__phone-label{
    font-size: var(--text-small);
    color: var(--not-main-text);
}
@media screen and (max-width: 500px) {
    .header__contacts{
        display: none
    }
}


.header__menu-row{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}