.menu_mobile{
    
}

.menu_mobile__icon{
    display: none;
    padding: 0 var(--elements-left-right-padding);
}
@media screen and (max-width: 500px) {
    .menu_mobile__icon{
        display: block;
    }
}

.menu_mobile__btn{
    cursor: pointer;
}
.menu_mobile__btn>span{
    display: block;
    width: 22px;
    height: 3px;
    background-color: var(--elemements-color);
    margin-top: .2rem;
}
