.footer-wrapper{
    padding: var(--site-main-step) 0;
}

.footer{
    display: flex;
}

.footer__left,
.footer__center,
.footer__right{
    padding: var(--elements-left-right-padding);
    display: flex;
    flex-direction: column;
    flex: 1;
}


@media screen and (max-width: 500px){
    .footer{
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: center;
    }

    .footer__left,
    .footer__center,
    .footer__right{
        align-items: center;
    }

    .footer__text{
        text-align: center;
    }
}
