.about{
    padding: 6.25rem 0;
    display: flex;
}

.about__image{
    display: block;
    width: 320px;
    height: 320px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0 var(--elements-left-right-padding); 
    margin-right: calc(var(--elements-left-right-padding) * 2);
}

.about__content{
    flex: 2 0;
}

.about__content{
    padding: var(--elements-left-right-padding);
}

@media screen and (max-width: 500px) {
    .about{
        flex-direction: column;
        align-items: center;
    }
    .about__image{
        padding: 0;
    }
}