@import url('/assets/css/colors.css');
@import url('/assets/css/const.css');
@import url('/assets/css/header/header_index.css');
@import url('/assets/css/globlal_elements.css');
@import url('/assets/css/global-flags.css');
@import url('/assets/css/elements/dropdown.css');
@import url('/assets/css/elements/button.css');
@import url('/assets/css/elements/glide/glide.css');
@import url('/assets/css/elements/go_up.css');
@import url('/assets/css/elements/info_slider.css');
@import url('/assets/css/elements/breadcumbs.css');
@import url('/assets/css/elements/side_menu.css');
@import url('/assets/css/useful_links.css');
@import url('/assets/css/archive/useful_links_archive.css');
@import url('/assets/css/header/top-menu.css');
@import url('/assets/css/header/etc.css');
@import url('/assets/css/footer/footer.css');
@import url('/assets/css/footer/footer_left.css');
@import url('/assets/css/footer/footer_center.css');
@import url('/assets/css/archive/slider_archive.css');
@import url('/assets/css/archive/central-list.css');

* *{
    box-sizing: border-box;
}

.main{
    margin-top: var(--site-main-step);
}

.main_conrainer{
    display: flex;
    position: relative;
}

@media screen and (max-width: 800px) {
    .main_conrainer{
        flex-direction: column;
    }
}